<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Adivina el número</title>
<link rel="icon" href="carol.png"/>
<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page_wrapper">
    <h1 class="title">Adivina el número</h1>
    <div class="box">
      <div class="counter"></div>
      <form class="form">
        <label clas="data_number">Introduce aquí tu número, suerte!!</label>
        <input type="number" class="input_number">
        <button type="button" class="btn">Prueba</button>
      </form>
      <p class="result">Escribe un número y dale a prueba</p>
    </div>
  </div>
   <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
